{% extends 'admin_Temp/index.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card">
<table class="table">
  <thead>
    <tr>
      <th scope="col">sl_no</th>
      <th scope="col">User</th>
      <th scope="col">Complaints</th>
      <th scope="col">Date</th>
      <th scope="col">Admin Reply</th>
    </tr>
  </thead>
  <tbody>
  {% for i in data %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{request.user}}</td>
      <td>{{i.complaint}}</td>
      <td>{{i.date}}</td>
      <td>
        {% if i.reply == None %}
        <p>Not reply yet</p>
        <a type="submit" class="btn btn-primary" href="{% url 'admin_reply' i.id %}" >Reply</a>
        {% else %}
        {{i.reply }}
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}